@mixin custom-scroll($size: small) {
  $scroll-width: 3px;
  $scroll-color: #939393;
  $border-color: #e5e5e5;

  @if $size == small {
    $scroll-width: 3px;
  } @else if $size == large {
    $scroll-width: 8px;
  } @else if $size == middle {
    $scroll-width: 6px;
  }

  @if $size == small {
    $scroll-color: #939393;
  } @else if $size == large {
    $scroll-color: #515151;
  } @else if $size == middle {
    $scroll-color: #6a6a6a;
  }

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scroll-width;
    height: $scroll-width;
  }

  &::-webkit-scrollbar-thumb {
    border-left: 1px solid $border-color;
    background-color: $scroll-color;
    border-radius: 8px;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $scroll-color transparent;
}
