.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  align-items: center;
  gap: 24px;
  align-self: stretch;

  .title {
    font-family: var(--primary-font-family);
    font-size: 22px;
    font-weight: 500;
    margin: 0 !important;
  }

  .description {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 400;
  }

  .tag {
    margin-inline-end: 0;
    border-color: transparent;
    border-radius: 8px;
  }

  .subTitle {
    font-size: 18px;
    font-weight: 500;
  }

  .flex {
    width: 100%;
  }

  .ingredients {
    margin: 0;
    padding-inline-start: 24px;
  }
}
