.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  .title {
    font-family: var(--primary-font-family);
    font-size: 22px;
    font-weight: 500;
    margin: 0 !important;
  }

  .description {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 400;
  }

  .lessonTitle {
    font-family: var(--primary-font-family);
    font-weight: 500;
  }

  .collapse {
    background-color: transparent;
    min-width: 100%;

    :global {
      .ant-collapse-item {
        border-bottom: none;
      }
    }
  }
}
