.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-default);

  .dividerBox {
    position: relative;
  }

  .aside {
    padding: 12px 16px;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--brand-100);
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}
