.wrapper {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;

  :global {
    .ant-form-item {
      width: 100%;
    }
  }

  .title {
    margin-bottom: 24px !important;
  }

  .button {
    margin-top: 8px;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .timer {
    margin-left: 8px;
  }
}
