@use '/src/app/styles/mixins' as mixins;

.wrapper {
  width: 100%;
  height: 100%;

  @include mixins.custom-scroll(small);

  :global {
    .ant-table-pagination.ant-pagination {
      margin: 12px 52px;
    }

    .ant-pagination .ant-pagination-options {
      margin-inline-start: auto;
    }

    .ant-table-thead th.ant-table-column-has-sorters:hover {
      border-bottom-color: var(--btn-primary-hover);

      .ant-table-column-title {
        transition:
          all 0.3s,
          left 0s;
        color: var(--btn-primary-default);
      }
    }

    .ant-table-thead th.ant-table-column-sort {
      border-bottom-color: var(--btn-tertiary-active);

      .ant-table-column-title {
        transition:
          all 0.3s,
          left 0s;
        color: var(--headline-active);
      }
    }

    .ant-table-tbody > tr > td {
      padding: 16px 8px;
    }

    .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
      background: rgb(241, 241, 241);
      border-bottom-color: var(--btn-primary-hover);
    }
  }

  .showSizer {
    color: var(--text-primary);
    font-weight: 600;
    padding: 0 45px;
    background-color: transparent;

    :global {
      .ant-select-arrow {
        inset-inline-end: -8px;
        color: var(--text-primary);
      }

      .ant-select-focused.ant-select-selector {
        border-color: transparent;
      }

      .ant-select-selector {
        background: transparent;
      }
    }
  }

  :global {
    .ant-select-filled:not(.ant-select-disabled):not(.ant-select-customize-input):not(
        .ant-pagination-size-changer
      ):hover
      .ant-select-selector {
      background: transparent;
    }

    .ant-table-wrapper
      .ant-table-ping-right:not(.ant-table-has-fix-right)
      .ant-table-container::after {
      box-shadow: none;
    }

    .ant-table-thead
      > tr
      > th:not(
        :last-child,
        .ant-table-selection-column,
        .ant-table-row-expand-icon-cell,
        [colspan]
      )::before {
      display: none;
    }

    .ant-spin-nested-loading {
      height: 100%;
    }

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .ant-table {
      flex-grow: 1;
      overflow: hidden !important;
      background-color: transparent;

      @include mixins.custom-scroll(small);
    }

    .ant-table-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-table-body,
      .ant-table-content {
        @include mixins.custom-scroll(small);
      }
    }

    .ant-table-header {
      overflow: unset !important;
    }

    .ant-table-body {
      overflow-y: auto !important;
      max-height: none !important;

      table {
        height: 100%;
      }
    }

    .ant-table.ant-table-empty {
      .ant-table-body {
        flex-grow: 1;
      }
    }

    .ant-table-wrapper {
      flex: 1;
      overflow: hidden;
    }
  }
}
