.wrapper {
  background: rgb(36, 38, 44);
  color: white;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;

  .metricTitle {
    font-weight: 700;
    display: block;
    padding: 0.5rem 0 0 0.7rem;
    color: var(--brand-100);
  }
}

.dropdown {
  margin-left: auto;
  min-width: 140px;

  :global {
    .ant-btn {
      justify-content: space-between;
      flex: 1;
    }
  }
}

.trendLine {
  width: 45px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .line {
    width: 100%;
    height: 30px;
    background-image: url('/public/upscale.svg');
    background-position: -9px -6px;
    transform: scaleY(-1) scale(0.7);

    &.down {
      background-image: url('/public/downscale.svg');
      transform: scale(0.7);
    }
  }

  .trendLineText {
    color: #52c41a;
    font-size: 1.1rem;
  }
}

.metricCard {
  padding: 0 3rem 1rem 1rem;
  background: rgb(36, 38, 44);

  .title {
    font-weight: 600;
    color: white;
  }

  .name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    color: white;
  }

  .trend {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.down {
      .trendLine .line {
        background-image: url('/public/downscale.svg');
        transform: scale(0.7);
      }

      .trendLineText {
        color: #ff4147;
      }
    }

    &.equal {
      .trendLine .line {
        background-image: url('/public/equal.svg');
        transform: scale(0.7);
      }

      .trendLineText {
        color: white;
      }
    }
  }

  .details {
    color: rgb(99, 101, 110);
    font-size: 0.8rem;
  }
}

:global {
  .ant-card-body {
    padding: 0 !important;
  }
}
