@use 'src/app/styles/typography';

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  :global {
    .ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
      width: 100%;
    }

    .ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
      font-size: 24px;
      line-height: 0;
    }

    .ant-menu .ant-menu-item .ant-menu-item-icon > * {
      line-height: 0;
    }

    .ant-menu .ant-menu-item .ant-menu-item-icon + span {
      margin-inline-start: 8px;
    }

    .ant-menu .ant-menu-item:not(.ant-menu-item-selected) .ant-menu-title-content {
      color: var(--btn-primary-default);
    }

    .ant-menu .ant-menu-title-content {
      @extend %service-button;
    }

    .ant-menu-vertical .ant-menu-item {
      padding-inline: 8px;
      margin-inline: 8px;
      margin-block: 8px;
      width: calc(100% - 16px);
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .ant-menu-title-content {
          width: auto;
          display: none;
        }
      }

      .ant-menu-submenu {
        & > .ant-menu-submenu-title {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .ant-menu-title-content {
          width: auto;
          display: none;
        }
      }
    }

    .ant-menu-light.ant-menu-root.ant-menu-vertical {
      border-inline-end: none;
    }

    .ant-menu .ant-menu-item .anticon {
      min-width: 24px;
    }
  }

  .logo {
    color: var(--logo);
  }

  .menu {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

  .menuItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
