@use 'src/app/styles/typography';

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .clock {
    color: var(--menu-color);
    margin-bottom: 0.5rem;

    .time {
      font-size: 1rem;
      font-weight: 600;
    }

    .timezone {
      font-size: 0.75rem;
      margin-left: 0.2rem;
    }
  }

  :global {
    .ant-layout-sider {
      background-color: red;
    }

    .ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
      width: 100%;
    }

    .ant-menu-item {
      flex-direction: column;
      justify-content: center;
    }

    .ant-menu-title-content {
      margin-inline-start: 0 !important;
      margin-left: 0;
      margin-top: 5px;
    }

    .ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
      font-size: 24px;
      line-height: 0;
    }

    .ant-menu .ant-menu-item .ant-menu-item-icon > * {
      line-height: 0;
    }

    .ant-menu .ant-menu-item .ant-menu-item-icon + span {
      margin-inline-start: 8px;
    }

    .ant-menu .ant-menu-title-content {
      @extend %service-button;
    }

    .ant-menu-vertical .ant-menu-item {
      padding-inline: 8px;
      margin-inline: 8px;
      margin-block: 8px;
      width: calc(100% - 16px);
      height: auto !important;
      padding: 0;
      border-radius: 0;
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;

        .ant-menu-title-content {
          width: auto;
          display: none;
        }
      }

      .ant-menu-submenu {
        & > .ant-menu-submenu-title {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .ant-menu-title-content {
          width: auto;
          display: none;
        }
      }
    }

    .ant-menu-light.ant-menu-root.ant-menu-vertical {
      border-inline-end: none;
    }

    .ant-menu .ant-menu-item .anticon {
      min-width: 28px;
      justify-content: center;
    }
  }

  .logo {
    color: var(--menu-color);
  }

  .menu {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

  .menuItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.2rem;
  }

  .menuBottom {
    text-align: center;

    :global {
      .ant-menu-item:first-child {
        margin-bottom: 0.4rem;
      }

      .ant-menu-item:last-child {
        margin-bottom: 1rem;
        padding: 1.2rem 0.6rem;
        background: color-mix(in lab, var(--brand-100), white 15%);
        border-radius: 48px;
      }
    }
  }
}
