.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;

  .logo {
    width: 42px;
    height: 42px;
    background-image: url('https://aff.siteforex.work/v3/menu/newLogo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo_full {
    width: 70px;
    height: 70px;
    background-image: url('https://aff.siteforex.work/v3/menu/newLogo.svg');
    color: black;

    // background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
  }
}
